:root {
  

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-inline: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

nav{
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  
}

nav .nav-links{
  display: flex;
  gap: 1rem;
}

main {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin-inline: auto;
}

footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  border-top: 1px solid;
}

.social-links{
  display: flex;
  gap: 1rem;
  width: 10rem;
}

footer .copy-right{
  font-size: 0.8rem;
}