.home-page {
  width: 100vw;
  height: calc(100vh - 65px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page h1,
.home-page h2 {
  margin: 0;
}

.home-page .hero-img {
  height: 93% !important;
  z-index: -1;
  object-fit: cover;
}