.home-page {
  width: 100vw;
  height: 100svh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page h1,
.home-page h2 {
  margin: 0;
}

.home-page .hero-img {
  height: 93%;
  z-index: -1;
  object-fit: cover;
}

.white,
.white::before,
.white::after {
  background-color: var(--white) !important;
}

.transparent {
  background: transparent;
}
