form {
  width: 100%;
  max-width: 600px;
  padding-inline: 1rem;
}

form .input-wrapper {
  position: relative;
  margin-block: 1rem;
}

form .input-wrapper span {
  position: absolute;
  top: -0.2rem;
  left: 0.5rem;
  background: white;
  padding-inline: 0.25rem;
}

form .input-error {
  border: 1px solid var(--red);
}

form .red {
  color: var(--red);
}

form .btn-form{
  min-width: 100%;
  min-height: 50px;
}


@media only screen and (min-width:425px) {
  form .btn-form{
    min-width: 125px;
    float: right;
  }
}
